/*   footer  */
.footer {
  background: var(--contrast);
  text-align: center;
  font-size: 1.2em;
  padding: 1em;
  margin-top: 22.5em;
}

.footer p,
.footer i {
  color: rgb(27, 255, 35);
}

.footer a {
  color: var(--accent);
  text-decoration: none;
}

.footer .social {
  max-width: 250px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 0.8em;
}
