:root {
  --main-clr: #f84981;
  --accent: #55fe96;
  --contrast: #181818;
  --light-gray: #000000;
  --border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Encode Sans Expanded", sans-serif;
  color: var(--contrast);
  /* outline: 1px pink solid; */
}
